@font-face {
    font-family: header;
    src: url('./font/Arbotek/Arbotek-Ultra.otf');
}

@font-face {
    font-family: body;
    src: url('./font/Work_Sans/static/WorkSans-Regular.ttf');
}

@font-face {
    font-family: title;
    src: url('./font/Work_Sans/static/WorkSans-ExtraBold.ttf');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: body;
    letter-spacing: 1px;
    line-height: 1;
    color: rgb(255, 255, 255);
    background-color: var(--bg);
}

#vanta {
    z-index: -100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
}

header {
    margin-top: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 2em 0em 2em;
}

.pic {
    width: 8em;
    height: 8em;
    border-radius: 100px;
    border: 3px solid var(--picBorder);
    box-shadow: rgba(94, 84, 142, 0.24) 0px 2px 8px 0px;
}

.nameBox {
    display: inline-block;
}

.name {
    margin: 8px 0px 12px 0px;
    font-size: 65px;
    font-family: header;
    color: var(--nameColor);
    -webkit-text-stroke: 2px var(--stroke); 
    text-shadow: 2px 2px 0 var(--shadow);
}

.icon1 {
    background-color: var(--boxes);
    width: 23px;
    height: 20px;
    border-radius: 1em;
    padding: .5em;
    transition: .3s ease-in-out 0s;
    transform: scale(0.98);
}
.icon1:hover {
    cursor: pointer;
    transform: scale(1);
    transform: translateZ(0);
    backface-visibility: hidden;
}

.socials {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    width: 210px;
}

.bio {
    font-family: body;
    display: inline-block;
    font-size: 14px;
    max-width: 400px;
    letter-spacing: 0px;
    border-radius: 1em;
    background-color: var(--boxes);
    color: var(--text);
    padding: 0.5em 0.7em;
    box-shadow: rgba(80, 33, 47, 0.24) 0px 2px 8px 0px;
}
.bio p {
    margin: 5px;
}

.boxes {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    flex-wrap: wrap;
    column-gap: 5%;
    max-width: 1000px;
    list-style: none;
    margin: 1em auto;
    margin-bottom: 0em;
    padding: 0em 2em 0em 2em;
}

ul > li {
    background-color: var(--boxes);
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: rgba(94, 84, 142, 0.24) 0px 2px 8px 0px;
    transition: .3s ease-in-out 0s;
    transform: scale(0.98);
}

.box:hover {
    cursor: pointer;
    transform: scale(1);
    transform: translateZ(0);
    backface-visibility: hidden;
}

.info {
    display: inline-flex;
    margin-bottom: 0.2em;
}

.icon {
    padding-right: 10px;
}

.title {
    font-family: title;
    font-size: 18px;
    margin: 0;
}

.p {
    font-family: body;
    font-size: 13px;
    margin: 0px;
}

ul > li > a {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1em;
}

.footer {
    display: block;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    line-height: 5px;
    letter-spacing: 0px;
    color: var(--footer);
    font-weight: bold;
    font-style: italic;

    margin-top: 8px;
    padding-bottom: 1rem;
    width: 100%;
    height: 3rem; 
}

.flower {
    font-style: normal;
    color: var(--footer);
}